In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Datasets/Weather1.csv")

In [5]:
df[['Date','Time']] = df['StartTime(UTC)'].str.split(' ',expand=True)

In [6]:
df = df[df['Date']<'2019-01-01']

In [7]:
x = ['Atlanta', 'Austin', 'Boston', 'Chicago', 'Dallas',
       'Denver', 'Los Angeles', 'Miami', 'Nashville',
       'New York', 'Orange County', 'Phoenix', 'Pittsburgh',
       'Sacramento', 'San Diego', 'Seattle', 'Silicon Valley',
       'Tucson', 'Washington DC']

In [8]:
new = df[df['City'].isin(x)]

In [9]:
new.City.unique()

array(['Pittsburgh', 'New York', 'San Diego', 'Dallas', 'Tucson',
       'Nashville', 'Miami', 'Sacramento', 'Phoenix', 'Denver',
       'Los Angeles', 'Seattle', 'Chicago', 'Atlanta', 'Austin'],
      dtype=object)

In [63]:
new.drop(labels=droprows, axis=0, inplace = True)

C:\Users\Muadh\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [37]:
new[new['City'].isin(['Dallas', 'Miami'])]['City']

array(['Dallas', 'Roberts', 'Paulding', 'Miami-Dade'], dtype=object)

In [59]:
droprows = np.array(new[new['City'].isin(['Dallas', 'Miami'])][new['County'].isin(['Roberts', 'Paulding'])].index)

<ipython-input-59-4a4859fcfef8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  droprows = np.array(new[new['City'].isin(['Dallas', 'Miami'])][new['County'].isin(['Roberts', 'Paulding'])].index)

In [76]:
new.to_csv('Datasets/Weather.csv')

In [61]:
droprows

array([1481142, 1481143, 1481144, ..., 4724136, 4724137, 4724138],
      dtype=int64)

In [58]:
import numpy as np

In [64]:
new

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode,Date,Time
670501,W-670669,Snow,Light,2016-01-01 10:51:00,2016-01-01 12:19:00,US/Eastern,KPIT,40.4814,-80.2083,Pittsburgh,Allegheny,PA,15231.0,2016-01-01,10:51:00
670502,W-670670,Snow,Light,2016-01-01 13:51:00,2016-01-01 14:51:00,US/Eastern,KPIT,40.4814,-80.2083,Pittsburgh,Allegheny,PA,15231.0,2016-01-01,13:51:00
670503,W-670671,Snow,Light,2016-01-03 22:51:00,2016-01-04 08:51:00,US/Eastern,KPIT,40.4814,-80.2083,Pittsburgh,Allegheny,PA,15231.0,2016-01-03,22:51:00
670504,W-670672,Snow,Light,2016-01-04 11:51:00,2016-01-04 14:51:00,US/Eastern,KPIT,40.4814,-80.2083,Pittsburgh,Allegheny,PA,15231.0,2016-01-04,11:51:00
670505,W-670673,Rain,Light,2016-01-08 18:51:00,2016-01-08 23:13:00,US/Eastern,KPIT,40.4814,-80.2083,Pittsburgh,Allegheny,PA,15231.0,2016-01-08,18:51:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5983543,W-5985401,Cold,Severe,2018-12-11 21:53:00,2018-12-11 22:53:00,US/Pacific,KU31,39.5000,-117.0833,Austin,Lander,NV,89310.0,2018-12-11,21:53:00
5983544,W-5985402,Cold,Severe,2018-12-17 21:53:00,2018-12-17 22:53:00,US/Pacific,KU31,39.5000,-117.0833,Austin,Lander,NV,89310.0,2018-12-17,21:53:00
5983545,W-5985403,Cold,Severe,2018-12-19 17:53:00,2018-12-19 18:53:00,US/Pacific,KU31,39.5000,-117.0833,Austin,Lander,NV,89310.0,2018-12-19,17:53:00
5983546,W-5985404,Cold,Severe,2018-12-20 06:53:00,2018-12-20 07:53:00,US/Pacific,KU31,39.5000,-117.0833,Austin,Lander,NV,89310.0,2018-12-20,06:53:00
5983547,W-5985405,Cold,Severe,2018-12-26 11:53:00,2018-12-26 12:53:00,US/Pacific,KU31,39.5000,-117.0833,Austin,Lander,NV,89310.0,2018-12-26,11:53:00

In [74]:
new[new['County']=='Paulding']

Empty DataFrame
Columns: [EventId, Type, Severity, StartTime(UTC), EndTime(UTC), TimeZone, AirportCode, LocationLat, LocationLng, City, County, State, ZipCode, Date, Time]
Index: []

In [75]:
new.shape

(47759, 15)

In [ ]:
new