### Pandas

In [9]:
import pandas as pd

In [10]:
%%time
df1 = pd.read_csv('dataset.csv')

Wall time: 1min 15s

#### It has taken 1 min 15 seconds to read it

In [3]:
%%time
df1.head(5)

Wall time: 0 ns

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [11]:
%%time
print("Columns are : ", [x for x in df1.columns])

Columns are :  ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']
Wall time: 0 ns

In [12]:
%%time
len(df1)

Wall time: 0 ns

42448764

In [3]:
"""This code was taking a very long time, more than half an hour so I aborted it. 
This clearly shows that pandas is very slow in this"""

# df1.mean()

'This code was taking a very long time, more than half an hour so I aborted it. \nThis clearly shows that pandas is very slow in this'

In [13]:
%%time
df1.isnull().sum()

Wall time: 10.5 s

event_time              0
event_type              0
product_id              0
category_id             0
category_code    13515609
brand             6117080
price                   0
user_id                 0
user_session            2
dtype: int64

In [18]:
# %%time
# df1.nunique()

"""This cell also took a long time so I aborted it."""

'This cell also took a long time so I aborted it.'

### Dask

In [1]:
import dask.dataframe as dd

In [2]:
%%time
df2 = dd.read_csv('dataset.csv')

Wall time: 684 ms

In [3]:
df2.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 9 entries, event_time to user_session
dtypes: object(5), float64(1), int64(3)

In [7]:
%%time
len(df2)

Wall time: 1min 9s

42448764

In [4]:
%%time
df2.head()

Wall time: 2.07 s

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [8]:
%%time
print("Columns are : ", [x for x in df2.columns])

Columns are :  ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_session']
Wall time: 0 ns

In [7]:
%%time
df2.mean().compute()

Wall time: 1min 13s

product_id     1.054993e+07
category_id    2.057404e+18
price          2.903237e+02
user_id        5.335371e+08
dtype: float64

#### The mean took 1min13s, which is way faster than for pandas.

## Pandas vs Dask

Pandas took a very long time to read the csv, and for certain functions it took way too long to run.<br><br>
Dask takes slightly more time for some basic functions such as finding length and displaying dataframe. But for other functions like finding mean, it took only around a minute, which is very small compared to pandas.